$primary-color: #F5973D;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0; 
  min-height: 100vh;
}

.app-content-container {
    max-width: 1200px; 
    width: 90%;       
    margin: 0 auto;  
    padding-top: 2rem; 
}

.navbar-wrapper {
  background-color: $primary-color;
}

.custom-menubar {
  background-color: $primary-color !important;
  padding: 1rem 1.6rem !important;
  border: none !important;

  .p-menubar-root-list {
    margin-left: auto !important;
    gap: 1rem;
  }

  .navbar-title {
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
  }

  .p-menuitem-link {
    background: transparent !important;
    border-radius: 8px;
    padding: 0.6rem 1rem !important;
    font-size: 1.1rem;

    span {
      color: white !important;
      transition: 0.2s ease;
    }

    /* Hover */
    &:hover {
      background: white !important;
      span {
        color: $primary-color !important;
      }
    }
  }

  .active-tab > .p-menuitem-link {
    background: white !important;

    span {
      color: black !important;
      font-weight: 700;
    }
  }
  }

  .surface-card {
  background: white;
  border-radius: 20px;
}

.p-button-warning {
  background-color: #F5973D !important;
  border: none !important;

  &:hover {
    background-color: #ffa85c !important;
  }
}

.p-carousel .p-carousel-content {
  padding: 1rem 0;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator button {
  background-color: #F5973D !important;
}