$primary-color: #F5973D;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0; 
  min-height: 100vh;
}

.navbar-wrapper {
  background-color: $primary-color;
}

.custom-menubar {
  background-color: $primary-color !important;
  padding: 1rem 1.6rem !important;
  border: none !important;

  .p-menubar-root-list {
    margin-left: auto !important;
    gap: 1rem;
  }

  .navbar-title {
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
  }

  .p-menuitem-link {
    background: transparent !important;
    border-radius: 8px;
    padding: 0.6rem 1rem !important;
    font-size: 1.1rem;

    span {
      color: white !important;
      transition: 0.2s ease;
    }

    /* Hover */
    &:hover {
      background: white !important;
      span {
        color: $primary-color !important;
      }
    }
  }

  /* Activa (igual a tu mockup) */
  .active-tab > .p-menuitem-link {
    background: white !important;

    span {
      color: black !important;
      font-weight: 700;
    }
  }
}
